h1.titulo{
    text-align: center;
}

body p{
    font-family: serif;
}

p#primer-parrafo{
    background-color: #333;
}

p#primer-parrafo em{
   color: #933;
}

a{
    outline: 1px solid #333 !important;
}

html body p.fuente.parrafo{
    opacity: 100% ;
    color:  #000 !important;
}

p:not(#primer-parafo){
    text-shadow: none
}

.complicado{
    color: #C62 !important;
    font-weight: 700;
}